target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
.kotlin

### Large Executable Artifacts (Rebuilt on pull via automate.ps1 or mvn) ###
*.jar
dependency-reduced-pom.xml

### Crash logs & temp dumps ###
hs_err_pid*.log
replay_pid*.log

### Temporary debug screenshots in root only ###
/debug_*.png
/btn*.png

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Mac & Windows OS ###
.DS_Store
Thumbs.db